# Java / Maven
target/
*.class
*.log

# Claves y configuración local (NUNCA subir)
application-local.properties
.env
.env.*
!.env.example

# Editores
.idea/
*.iml

# Node (por si luego hay frontend)
node_modules/